body {
  background-color: black;
  margin: 0;
  height: 100%;
  padding: 20px;
}
.wrapper {
  display: grid;
  grid-column-gap: 20px;
  grid-template-rows: 100vh;
  grid-template-columns: 15vw 30vw 30vw 17.5vw;
}
.wrapper > div {
  background-color: gold;
  border: maroon 5px outset;
}
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
