@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
body {
  margin: 0;
}
.flex-box {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 1500px;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
  gap: 30px;
}
.flex-box > div {
  background-color: gold;
  border: 5px dotted white;
  width: 150px;
  margin-top: 150px;
}
.flex-box > .main {
  background-color: silver;
  width: 300px;
}
