body {
  background-color: black;
  margin: 0;
  height: 100%;
  padding: 20px;
  font-size: 12pt;
}
.wrapper {
  display: grid;
  grid-column-gap: 20px;
  grid-template-rows: 500px 500px 500px 500px;
  grid-template-columns: 90vw;
  gap: 50px;
}
.wrapper > nav,
section {
  display: flex inline;
  flex-direction: column;
  padding: 35px;
  background-color: gold;
  border: maroon 5px outset;
  border-radius: 25px;
}
h3,
a,
li {
  color: maroon;
  background-color: white;
  border: maroon 1px solid;
  border-radius: 5px;
}
.nav_list {
  justify-content: space-between;
  background-image: url(/Inlämningar/Uppgift_1/Images/world-icon-png-3017.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.media_list {
  background-image: url(/Inlämningar/Uppgift_1/Images/movie.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.game_list {
  background-image: url(/Inlämningar/Uppgift_1/Images/game-icon-png-4478.png);
  background-repeat: no-repeat;
  background-size: contain;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: 100vh;
    grid-template-columns: 15vw 30vw 30vw 17.5vw;
  }
  .wrapper > nav,
  section {
    display: flex;
  }
  .nav_list {
    background-repeat: repeat-y;
  }
  .media_list {
    background-repeat: repeat-y;
  }
  .game_list {
    background-repeat: repeat-y;
  }
}
