body {
  margin: 0;
  background-color: blue;
  height: 100%;
}
.flex-box {
  display: flex;
  flex: 1 0 100%;
  flex-flow: column wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
  margin-top: 100px;
}
.flex-box > div {
  background-color: white;
  border-top: dashed 5px black;
  border-left: solid 5px black;
  border-right: solid 5px black;
  border-bottom: solid 5px black;
  flex: 1 0 90vw;
  padding: 25px;
}
#main {
  background-color: darkgray;
  height: 900px;
  flex: 1 0 90vw;
}
#korv {
  width: 300px;
}
h1,
h2 {
  border: 2px solid black;
}
@media screen and (min-width: 768px) {
  .flex-box {
    flex: 1 0 80%;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .flex-box > div {
    flex: 1 0 15vw;
    padding: 25px;
  }
  #main {
    flex: 2 0 30vw;
  }
  #korv {
    width: 300px;
  }
}
