.flex-box {
  background-color: blue;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.flex-box > div {
  background-color: white;
  height: 800px;
  width: 300px;
  margin: 15px;
  margin-top: 150px;
  padding: 25px;
}
#main {
  background-color: white;
  height: 800px;
  width: 600px;
}
